.large-hero {
    position: relative;

    &__text-content {
        /* Place in top left of image */
        position: absolute;
        left: 0;
        /* Center vertically */
        top: 50%;
        transform: translateY(-50%);
        /* Center horizontally */
        width: 100%;
        text-align: center;
    }

    &__title {
        font-weight: 300;
        color: $mainBlue;
        font-size: 1.1rem;
        margin: 0;
        
        @mixin atSmall {
            font-size: 2rem;
        }
        
        @mixin atMedium {
            font-size: 3.2rem;
        }
        
        @mixin atLarge {
            font-size: 4.8rem;
        }
    }

    &__subtitle {
        font-weight: 300;
        color: $mainBlue;
        font-size: 1.1rem;
        margin: 0;
        
        @maxin atSmall {
            font-size: 2.9rem;
        }
    }
    
    &__description {
        color: #FFF;
        font-size: 1.875rem;
        /* Thin the text */
        font-weight: 100;
        /* Enhance text shadow */
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        /* Break text into two lines */
        max-width: 30rem;
        /* Horizontally center text */
        margin-left: auto;
        margin-right: auto;
    }
}



