.page-section {
    /* Add vertical padding but no horizontal padding. */
    padding: 1.2rem 0;

    @mixin atMedium {
        padding: 4.5rem 0;
    }

    &--blue {
        background-color: $mainBlue;
        color: #FFF;
    }

    &--no-b-padding-until-medium {
        /* Clears bottom margin on mobile. */
        padding-bottom: 0;

        @mixin atMedium {
            padding-bottom: 4.5rem;
        }
    }
    
    &--no-b-padding-until-large {
        /* Clears bottom margin on mobile. */
        padding-bottom: 0;

        @mixin atLarge {
            padding-bottom: 4.5rem;
        }
    }

    &--testimonials {
        background-color: #e0e6ef;

        @mixin atLarge {
            &.lazyloaded {
                /* Display image as background on larger screens when scrolled to. */
                background: url('../../assets/images/testimonials-bg.jpg') top center no-repeat;
                background-size: cover;
            }
        }
    }
}