.site-header {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    /* Overlay rest of site. */
    z-index: 2;
    /* Transition header content toggling visibility. */
    transition: background-color .3s ease-out;
    
    &--is-expanded {
        /* Toggle background transparency for menu content on icon onclick. */
        background-color: rgba($mainBlue, .55);
    }
    
    @mixin atMedium {
        background-color: rgba($mainBlue, 0.3);
    }
    
    &__btn-container {
        @mixin atMedium {
            float: right;
        }
    }
    
    &__logo {
        position: absolute;
        top: 0;
        background-color: $mainBlue;
        padding: 25px 36px;
        /* Align horizontally and shrink */
        left: 50%;
        transform: translateX(-50%) scale(0.8);
        transform-origin: 50% 0;
        
        @mixin atMedium {
            /* Align left of screen */
            left: auto;
            transform: translatex(0);
        }
    }
    
    &__logo__graphic {
        text-indent: -9999px;
    }
    
    &__menu-icon {
        width: 20px;
        height: 20px;
        background-color: #FFF;
        /* Position top-right corner. */
        position: absolute;
        top: 10px;
        right: 10px;
        /* Menu content overlays icon - raise icon above menu content to allow interactivity. */
        z-index: 10;
        
        @mixin atMedium {
            display: none;
        }
    }
    
    &__menu-content {
        opacity: 0;
        /* Opacity simply hides content but it doesn't prevent user interaction. 
           Bury content to prevent this with relative z-index. */
        position: relative;
        z-index: -10;
        padding-top: 90px;
        text-align: center;
        /* Zoom-out effect at 20% original size. */
        transform: scale(1.2);
        /* Transition opacity change. */
        transition: all 0.3s ease-out;
        
        @mixin atMedium {
            /* Sets menu content always visible on larger screens. */
            opacity: 1;
            z-index: 1;
            /* Offset mobile top padding. */
            padding-top: 0;
            /* Cancel mobile scaling effect. */
            transform: scale(1);
        }
        
        &--is-visible {
            /* Sets menu content temporarily visible on mobile when icon is clicked. */
            opacity: 1;
            /* Unbury content to allow interactivity. */
            z-index: 1;
            /* Return to natural size. */
            transform: scale(1);
        }
    }
}